.about-image-1 {
    float: left;
    margin-left: 2%;
    margin-right: 4%;
}

.blockquote {
    margin: 0 5%;
}

.blockquote-footer {
    margin: 0 5%;
}

/*DEVELOPER: Tony Lalicata, IS117-003, Fall 2021 */